src/main/java/com/hp/ov/nms/sdk/client/notification/subscribeIncidentNotificationSource.wsdl

<wsdl:definitions targetNamespace='http://notification.sdk.nms.ov.hp.com/nms-sdk-notify' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://notification.sdk.nms.ov.hp.com/nms-sdk-notify' xmlns:wsa10='http://www.w3.org/2005/08/addressing' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:wse='http://schemas.xmlsoap.org/ws/2004/08/eventing' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
 <wsdl:import location='ws-eventing.wsdl' namespace='http://schemas.xmlsoap.org/ws/2004/08/eventing'></wsdl:import>
 <wsdl:types>
  <xs:schema targetNamespace='http://schemas.xmlsoap.org/ws/2004/08/eventing'>
   <xs:include schemaLocation='ws-eventing.xsd'/>
  </xs:schema>
  <xs:schema blockDefault='#all' elementFormDefault='unqualified' targetNamespace='http://notification.sdk.nms.ov.hp.com/nms-sdk-notify'>
   <xs:complexType name='incidentNotification'>
    <xs:sequence>
     <xs:element minOccurs='0' name='category' type='xs:string'/>
     <xs:element name='duplicateCount' type='xs:int'/>
     <xs:element minOccurs='0' name='family' type='xs:string'/>
     <xs:element minOccurs='0' name='firstOccurrenceTime' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='id' type='xs:string'/>
     <xs:element minOccurs='0' name='lastOccurrenceTime' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
     <xs:element minOccurs='0' name='nature' type='tns:nature'/>
     <xs:element minOccurs='0' name='origin' type='tns:origin'/>
     <xs:element minOccurs='0' name='originOccurrenceTime' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='priority' type='xs:string'/>
     <xs:element name='rcaActive' type='xs:boolean'/>
     <xs:element minOccurs='0' name='formattedMessage' type='xs:string'/>
     <xs:element minOccurs='0' name='lifecycleState' type='xs:string'/>
     <xs:element minOccurs='0' name='severity' type='tns:severity'/>
     <xs:element minOccurs='0' name='sourceName' type='xs:string'/>
     <xs:element minOccurs='0' name='sourceNodeName' type='xs:string'/>
     <xs:element minOccurs='0' name='sourceNodeLongName' type='xs:string'/>
     <xs:element minOccurs='0' name='sourceNodeUuid' type='xs:string'/>
     <xs:element minOccurs='0' name='sourceUuid' type='xs:string'/>
     <xs:element minOccurs='0' name='uuid' type='xs:string'/>
     <xs:element name='incidentResent' type='xs:int'/>
     <xs:element minOccurs='0' name='updateTime' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='previousLifecycleState' type='xs:string'/>
     <xs:element minOccurs='0' name='previousRcaActive' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='cias' nillable='true' type='tns:cia'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='incidentCorrelation'>
    <xs:sequence>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
     <xs:element minOccurs='0' name='type' type='tns:correlationType'/>
     <xs:element minOccurs='0' name='parent' type='xs:string'/>
     <xs:element minOccurs='0' name='firstOccurrenceTime' type='xs:dateTime'/>
     <xs:element name='correlationResent' type='xs:int'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='children' nillable='true' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='cia'>
    <xs:sequence>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
     <xs:element minOccurs='0' name='type' type='xs:string'/>
     <xs:element minOccurs='0' name='value' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:simpleType name='severity'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='CRITICAL'/>
     <xs:enumeration value='MAJOR'/>
     <xs:enumeration value='MINOR'/>
     <xs:enumeration value='WARNING'/>
     <xs:enumeration value='NORMAL'/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name='nature'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='ROOTCAUSE'/>
     <xs:enumeration value='SECONDARYROOTCAUSE'/>
     <xs:enumeration value='SYMPTOM'/>
     <xs:enumeration value='SERVICEIMPACT'/>
     <xs:enumeration value='STREAMCORRELATION'/>
     <xs:enumeration value='NONE'/>
     <xs:enumeration value='INFO'/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name='origin'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='MANAGEMENTSOFTWARE'/>
     <xs:enumeration value='MANUALLYCREATED'/>
     <xs:enumeration value='REMOTELYGENERATED'/>
     <xs:enumeration value='SNMPTRAP'/>
     <xs:enumeration value='SYSLOG'/>
     <xs:enumeration value='OTHER'/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name='correlationType'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='APA'/>
     <xs:enumeration value='IMPACT'/>
     <xs:enumeration value='DEDUP'/>
     <xs:enumeration value='RATE'/>
     <xs:enumeration value='PAIRWISE'/>
     <xs:enumeration value='CUSTOM'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:schema>
 </wsdl:types>
 <wsdl:message name='IncidentNotificationMsg'>
  <wsdl:part name='arg0' type='tns:incidentNotification'></wsdl:part>
 </wsdl:message>
 <wsdl:portType name='IncidentNotificationSource' wse:EventSource='true'>
  <wsdl:operation name='IncidentNotification'>
   <wsdl:output message='tns:IncidentNotificationMsg'></wsdl:output>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name='IncidentNotificationSourceBinding' type='tns:IncidentNotificationSource'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <wsdl:operation name='IncidentNotification'>
   <soap:operation soapAction=''/>
   <wsdl:output>
    <soap:body use='literal'/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>