src/main/java/com/hp/ov/nms/sdk/client/notification/ws-eventing.wsdl

<wsdl:definitions targetNamespace='http://schemas.xmlsoap.org/ws/2004/08/eventing' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:wsa10='http://www.w3.org/2005/08/addressing' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:wse='http://schemas.xmlsoap.org/ws/2004/08/eventing' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
 <wsdl:types>
  <xs:import namespace='http://schemas.xmlsoap.org/ws/2004/08/eventing' schemaLocation='http://schemas.xmlsoap.org/ws/2004/08/eventing/eventing.xsd'/>
 </wsdl:types>
 <wsdl:message name='GetStatusResponseMsg'>
  <wsdl:part element='wse:GetStatusResponse' name='body'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='GetStatusMsg'>
  <wsdl:part element='wse:GetStatus' name='body'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='RenewResponseMsg'>
  <wsdl:part element='wse:RenewResponse' name='body'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='SubscriptionEnd'>
  <wsdl:part element='wse:SubscriptionEnd' name='body'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='RenewMsg'>
  <wsdl:part element='wse:Renew' name='body'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='SubscribeMsg'>
  <wsdl:part element='wse:Subscribe' name='body'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='SubscribeResponseMsg'>
  <wsdl:part element='wse:SubscribeResponse' name='body'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='UnsubscribeMsg'>
  <wsdl:part element='wse:Unsubscribe' name='body'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='UnsubscribeResponseMsg'></wsdl:message>
 <wsdl:portType name='SubscriptionManager'>
  <wsdl:operation name='RenewOp'>
   <wsdl:input message='wse:RenewMsg' wsa10:Action='http://schemas.xmlsoap.org/ws/2004/08/eventing/Renew'></wsdl:input>
   <wsdl:output message='wse:RenewResponseMsg' wsa10:Action='http://schemas.xmlsoap.org/ws/2004/08/eventing/RenewResponse'></wsdl:output>
  </wsdl:operation>
  <wsdl:operation name='GetStatusOp'>
   <wsdl:input message='wse:GetStatusMsg' wsa10:Action='http://schemas.xmlsoap.org/ws/2004/08/eventing/GetStatus'></wsdl:input>
   <wsdl:output message='wse:GetStatusResponseMsg' wsa10:Action='http://schemas.xmlsoap.org/ws/2004/08/eventing/GetStatusResponse'></wsdl:output>
  </wsdl:operation>
  <wsdl:operation name='UnsubscribeOp'>
   <wsdl:input message='wse:UnsubscribeMsg' wsa10:Action='http://schemas.xmlsoap.org/ws/2004/08/eventing/Unsubscribe'></wsdl:input>
   <wsdl:output message='wse:UnsubscribeResponseMsg' wsa10:Action='http://schemas.xmlsoap.org/ws/2004/08/eventing/UnsubscribeResponse'></wsdl:output>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:portType name='EventSource'>
  <wsdl:operation name='SubscribeOp'>
   <wsdl:input message='wse:SubscribeMsg' wsa10:Action='http://schemas.xmlsoap.org/ws/2004/08/eventing/Subscribe'></wsdl:input>
   <wsdl:output message='wse:SubscribeResponseMsg' wsa10:Action='http://schemas.xmlsoap.org/ws/2004/08/eventing/SubscribeResponse'></wsdl:output>
  </wsdl:operation>
  <wsdl:operation name='SubscriptionEnd'>
   <wsdl:output message='wse:SubscriptionEnd'></wsdl:output>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name='SubscriptionManagerBinding' type='wse:SubscriptionManager'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <wsdl:operation name='GetStatusOp'>
   <soap:operation soapAction=''/>
   <wsdl:input>
    <soap:body use='literal'/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use='literal'/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name='RenewOp'>
   <soap:operation soapAction=''/>
   <wsdl:input>
    <soap:body use='literal'/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use='literal'/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name='UnsubscribeOp'>
   <soap:operation soapAction=''/>
   <wsdl:input>
    <soap:body use='literal'/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use='literal'/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:binding name='EventSourceBinding' type='wse:EventSource'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <wsdl:operation name='SubscribeOp'>
   <soap:operation soapAction=''/>
   <wsdl:input>
    <soap:body use='literal'/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use='literal'/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name='SubscriptionEnd'>
   <soap:operation soapAction=''/>
   <wsdl:output>
    <soap:body use='literal'/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name='EventingService'>
  <wsdl:port binding='wse:SubscriptionManagerBinding' name='SubscriptionManagerPort'>
   <soap:address location='http://it2tst07.cnd.hp.com/nms-sdk-node-notify/manage'/>
  </wsdl:port>
  <wsdl:port binding='wse:EventSourceBinding' name='EventSourcePort'>
   <soap:address location='http://it2tst07.cnd.hp.com/nms-sdk-node-notify/subscribe'/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>